// 变量

%flex-center {
    display: flex;
    align-items: center;
}
%flex-center-columns {
    display: flex;
    flex-direction: column;
}

%flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
%flex-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
%flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
%background {
    max-width: 100vw;
    min-height: 100vh;
    background: #f3f4fa;
}
